[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hpiseth
[access "refs/for/refs/*"]
	read = group user/hpiseth
	push = group user/hpiseth
	label-Code-Review = -2..+2 group user/hpiseth
	label-Verified = -1..+1 group user/hpiseth
	rebase = group user/hpiseth
	removeReviewer = group user/hpiseth
	submit = group user/hpiseth
[access "refs/heads/*"]
	read = group user/hpiseth
	create = group user/hpiseth
	push = +force group user/hpiseth
	pushMerge = group user/hpiseth
[access "refs/tags/*"]
	push = +force group user/hpiseth
	pushTag = group user/hpiseth
	pushSignedTag = group user/hpiseth
